* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.no {
    text-align: center;
    opacity: .4;
    font-size: 43px;
}
.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.send{
    width: 170px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 13px;
    color: white;
    cursor: pointer;
}
.div2{
    width: 100%;    
    display: flex;
    justify-content: space-between;
}
.nothing{
    opacity: .4;
    text-align: center;
    font-size: 105px;
    margin-bottom: 10px;
}
.line{
    width: 50%;
    border: none;
    border-bottom: 1px solid rgb(162, 162, 162);
    margin: 40px auto;
    transform: translate(10px, 0px);
    margin-top: 40px;
    opacity: .7;
}
.title{
    font-size: 50px;
    text-align: center;
    transform: translateY(40px);
}
.box {
    border: 1px solid #c4c4c4;
    box-shadow: 10px 10px 10px #c4c4c4;
    padding: 20px 50px;
    border-radius: 14px;
    background-color: #F0F0F0;
    width: 23%;
    height: 150px;
    position: relative;
}   
.not{
    transform: translate(310px, -66px);
    font-size: 28px;
    font-style: italic;
    opacity: .7;
}
.box h1 {
    font-weight: 400;
    font-size: 32px;
    width: 168px;
    overflow: hidden;
}
.fword{
    font-style: italic;
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
    opacity: .7;
    bottom: 30px;
}
.fword{
    position: absolute;

}
form {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 50px auto;
    gap: 20px;

}
input {
    margin-top: 5px;
    width: 400px;
    height: 50px;
    border-radius: 13px;
    padding: 2px;
    font-size: 24px;
    padding: 20px;
    outline: none;
    border: 2px solid rgb(0, 149, 255);
}
.btn {
    width: 30px;
    height: 30px;
    margin-left: 94px;
    cursor: pointer;
    transform: translate(95px, -32px);
    position: absolute;
    top: 60px;
}
.check {
    position: absolute;
    width: 23px;
    transform: translate(193px, 56px);
}
.active{
    text-decoration: line-through red;
}
